html { 
  background: url(../pictures/background2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

section img{
	width: 100%;
    display: block;
    margin: auto;
    float: left;
    padding: 0% 0 2.5% 0;
	margin: 0%;
	border-radius: 5px;
}

body{
	width: 100%;
	max-width: 1280px;
	height: 100%;
	padding: 0px;
	margin:0 auto;
}

header{
	padding: 0px;
	margin: 0px;
}

header img{
	height: 100%;
	width: 100%;
    display: block;
    margin: auto;
    padding: 0%;
	margin: 0%;
}

h1{
	text-decoration: none;
	font-family: Wellfleet;
	font-size: 1.5em;
	border-bottom-style: solid;
	border-width: 2px;
	width: 130px;
	padding: 0%;
	margin: auto;
	text-align: center;
}

section {
	float: left;
	background-color:rgba(118, 93, 53, 0.6);
	border-radius: 5px;
	padding: 1% 2% 2% 2%;
	margin: 1% 0 0 0;
}

#thankyou{
    font-family: Wellfleet;
    font-size: 1em;
    text-align: center;
}


footer{
	float: left;
	margin: auto;
	width: 100%;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	margin: 2% 0 2% 0;
}

footer a{
	font-family: Wellfleet;
	color: #000000;
	text-decoration: none;
}